@model CarWashClient.Models.ViewModels.BillVM

@{
    ViewData["Title"] = "Edit Bill Info";
}

<h3 class="bill-header-h3">Edit Bill Info</h3>
<hr />
<div class="row">
    <div class="col-md-6 mx-auto pb-5">
        <form asp-action="Edit" class="border p-4 rounded shadow">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Charge" class="control-label"></label>
                <input asp-for="Charge" class="form-control" />
                <span asp-validation-for="Charge" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsComplete" /> @Html.DisplayNameFor(model => model.IsComplete)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="SelectedWasherId" class="control-label"></label>
                <select asp-for="SelectedWasherId" asp-items="@Model.WasherList" class="form-control">
                    <options disabled>Select A Car Washer</options>
                </select>
                <span asp-validation-for="SelectedWasherId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedVehicleId" class="control-label"></label>
                <select asp-for="SelectedVehicleId" asp-items="@Model.VehicleList" class="form-control">
                    <options disabled>Select Your Car Type</options>
                </select>
                <span asp-validation-for="SelectedVehicleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedPMethodId" class="control-label"></label>
                <select asp-for="SelectedPMethodId" asp-items="@Model.PMethodList" class="form-control">
                    <options disabled>Select Your Payment Method</options>
                </select>
                <span asp-validation-for="SelectedPMethodId" class="text-danger"></span>
            </div>
            <div class="form-group mt-4 text-center">
                <a asp-action="Index" class="btn btn-warning pt-1 pb-1 btn-lg ml-3">Back</a>
                <input type="submit" value="Save" class="btn btn-lg pt-1 pb-1" style="background-color: #C68B96" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
